@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;

    background-color: white;
    color: black;
}

header {
    position: sticky;
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    border-bottom: 1px gray solid;
}

nav {
    display: flex;
    gap: 5px;
}

main {
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
}

img {
    border-radius: 25px;
}

footer { 
    padding: 2% 2%;
    border-top: 1px gray solid;
    color: rgb(0, 115, 255);
}